PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:MiniPos_SWT@db.rmlkqdxhbyxtrmthmipi.supabase.co:5432/postgres?sslmode=require

JWT_SECRET=jwtsecret
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173